/* Fonts */
@font-face {
    font-family: 'Nico Moji';
    src: url(assets/fonts/NicoMoji-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(assets/fonts/static/RobotoCondensed-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url(assets/fonts/static/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url(assets/fonts/static/RobotoCondensed-Light.ttf) format('truetype');
}

/* Declare styling variables */
:root {
    --main-background-color: rgb(32, 0, 65);
    --secondary-background-color: rgb(22, 6, 53);
    --primary-color: rgb(89, 39, 177);
    --secondary-color: rgb(73, 0, 133);
    --tertiary-color: rgb(52, 20, 108);
    --quaternary-color: rgb(125, 75, 227);
    --text-color: rgb(255, 255, 255);
    --heading-font: 'Nico Moji';
    --main-font: 'Roboto Condensed';
    --main-font-bold: 'Roboto Condensed Bold';
    --main-font-light: 'Roboto Condensed Light';
}

/* Base Style (Mobile-first) */
body {
    background-color: var(--main-background-color);
    margin: 0;
}

p,
a,
button {
    color: var(--text-color);
    font-family: var(--main-font, sans-serif);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: var(--text-color);
    font-family: var(--heading-font, sans-serif);
    font-weight: 100;
}

h1,
h2 {
    font-size: 2.5em;
}

h2 {
    margin: 0.3em;
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}



/* Header */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

ul {
    margin: 0;
    padding: 0;
}

.overlay-text-1,
.overlay-text-2,
.overlay-text-3 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 13em 0;
    text-align: center;
    width: 100%;
}

.overlay-text-1 {
    background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/phoneHeader1.png);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    width: 100%;

}

.overlay-text-1 h1 {
    margin: 0;
}

.overlay-text-2 {
    background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/phoneHeader2.png);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    width: 100%;
}

.overlay-text-3 {
    background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/phoneHeader3.png);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    width: 100%;
}

.watch-btn {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 45px;
    font-family: var(--main-font-bold);
    font-size: 1em;
    transition: ease-in;
}

.watch-btn:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    transition: 0.2s ease-in;
}

#watch-yt-2,
#learn-more-btn {
    margin: auto;
    min-height: 3em;
    min-width: 12em;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0;
}

#learn-more-btn {
    background-color: var(--primary-color);
    border-radius: 45px;
    font-size: 1em;
    font-family: var(--main-font-bold);
}

#learn-more-btn:hover {
    background-color: var(--quaternary-color);
    transition: 0.2s ease-in;
}

.image-overlay-cont {
    grid-area: 1/1/3/2;
}

header nav ul li,
footer ul li {
    list-style-type: none;
}

header nav ul,
footer ul {
    align-items: center;
    display: inline-flex;
    gap: 50px;
    justify-content: center;
    list-style-type: none;
}



/* Navigation bar */
nav {
    align-items: center;
    flex-direction: row;
    grid-area: 1/1/2/2;
    justify-content: space-between;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 100000;
    display: flex;
}

nav .menu {
    font-size: 1.1em;
    margin: 0;
    padding: 0 0 1.5em 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 3.5em;
    width: 100%;
    background-color: var(--secondary-background-color);
}

nav .menu li {
    padding: 1em;
}

nav .menu li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    transition: 1s ease-in;
}

footer ul li,
nav .menu,
nav #watch-yt-1,
nav .close-btn {
    display: none;
}

nav img {
    height: 2em;
    justify-self: start;
}

#watch-yt-1 button {
        background-color: rgb(255, 255, 255);
}



/* About Section */
#about-contents p {
    font-family: var(--main-font-light, sans-serif);
    font-size: 0.812em;
    line-height: 2em;
}

#about-contents {
    margin: 2.5em 1em;
}

#all-rounds {
    background-color: var(--secondary-background-color);
    padding: 2em 1em;
}



/* Episodes Section */
#rounds-cont {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0.5em 0;
}

.play-symbol {
    grid-area: 2/2/4/3;
    justify-self: end;
    margin: auto 0;
    width: 4em;
}

.rounds {
    background-color: var(--primary-color);
    border-radius: 22px;
}

.rounds:hover {
    background-color: var(--quaternary-color);
    transition: 0.1s ease-in;
}

.rounds a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin: 0.5em;
}

.rounds-cover {
    grid-area: 1/1/2/3;
}

.rounds-cover img {
    border-radius: 24px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.rounds-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
    margin: 0.5em 1em 1em 1em;
}

.rounds h3 {
    font-size: 2em;
    grid-area: 2/1/3/2;
    margin: 0;
    text-align: left;
}

.rounds .song-title {
    font-size: 1.2em;
    grid-area: 3/1/4/2;
    text-align: left;
    margin: 0;
}

.singers {
    font-family: var(--main-font-light);
    font-size: 0.812em;
    display: none;
}



/* More Music Section */
#more-music {
    margin: 4.5em 1em;
}

#back-btn,
#next-btn {
    display: none;
}

.more-songs {
    border-radius: 22px;
    background-color: var(--tertiary-color);
    width: 100%;
}

.more-songs a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0.5em;
}

.more-music-cover {
    grid-area: 1/1/2/3;
}

.more-music-cover img {
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
    max-height: 12.5em;
}

.more-music-info {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0.5em;
    margin: 0.5em 1em 1em 1em;
}

.more-music-info h3 {
    font-size: 1.5em;
    grid-area: 1/1/3/2;
    text-align: left;
    margin: 0;
}

.more-music-info .song-title-2 {
    font-size: 1.2em;
    grid-area: 3/1/4/2;
    text-align: left;
    margin: 0;
}

.more-music-info .singers-2 {
    grid-area: 4/1/5/2;
    margin: 0;
    text-align: left;
    font-family: var(--main-font-light, sans-serif);
}

.play-symbol-2 {
    width: 3em;
    grid-area: 2/2/5/3;
    margin: auto 0;
    justify-self: end;
}

.gallery {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.gallery .gallery-slide {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 2.5em;
}

.gallery .gallery-slide button:hover {
    background-color: var(--secondary-color);
    transition: 0.1s ease-in;
}



/* Creators page */
.profiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2.5em;
    margin: 2.5em auto;
    max-width: 28em;
    min-width: 22em;
}

.profiles .main-profile,
.profiles .contacts {
    margin: 0 1em;
}

.main-profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: var(--primary-color);
    border-radius: 2em;
    padding: 1.5em 2em;
}

.main-profile img {
    grid-row: 1;
    width: 7em;
    display: block;
    margin: auto;
    border-radius: 50em;
}

#profile-3 img {
    border-radius: 0;
}

.main-profile h3 {
    grid-row: 2;
    margin: 0;
    padding-top: 2em;
    font-size: 1.2em;
}

.main-profile p {
    grid-row: 3;
    margin: 0;
    line-height: 2em;
    font-size: 0.938em;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: var(--secondary-color);
    border-radius: 2em;
    padding: 1.5em;
}

.contact-symbols img {
    width: 1.5em;
}

.contacts h4 {
    grid-area: 1;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.contact-info {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.contact-symbols {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 0.812em;
}

.contact-texts {
    grid-column: 2;
    grid-row: 2;
}



/* Cast page */
.voice-actors {
    background-color: var(--secondary-background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 2.5em 0;
    grid-gap: 2.5em;
    padding: 2.5em 0;
}

.va-char img {
    width: 5em;
    border-radius: 2.5em;
    grid-area: 1/1/3/2;
    display: block;
    margin: auto;
}

.va-char {
    background-color: var(--primary-color);
    margin: 0 1em;
    border-radius: 1.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 2em;
    padding: 1em 2em;
}

.va-char h3 {
    font-size: 2em;
    grid-area: 1/2/2/3;
    margin: auto 0 0 0;
}

.va-char p {
    grid-area: 2/2/3/3;
    margin: 0;
    font-family: var(--main-font-light, sans-serif);
}

.play-symbol img:hover,
.play-symbol-2 img:hover {
    filter: brightness(70%);
}



/* Footer */
.footer-buttons img {
    height: 1.5em;
    width: auto;
}

.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 0.5em;
}

footer img {
    display: block;
    margin: auto;
}

footer #footer-logo {
    width: 13em;
    padding: 2.5em;
}

footer {
    background-color: var(--tertiary-color);
    text-align: center;
    padding-top: 1.5em;
    margin-top: 5em;
}

.copyright-text {
    font-family: var(--main-font-light);
    font-size: 0.812em;
    margin: auto 5em;
    padding: 2em;
    line-height: 2em;
}



/* Tablets */
@media screen and (min-width: 768px) {

    h1,
    h2 {
        font-size: 4em;
    }

    /* Header */
    .overlay-text-2,
    .overlay-text-3 {
        width: 100%;
        padding: 13em 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .overlay-text-1 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/tabletHeader1.png);
        background-repeat: none;
        background-size: cover;
        background-position: top;
        width: 100%;
        padding: 28em 0 5em 0;
        margin-right: auto;
        text-align: left;
        gap: 1em;
    }

    .overlay-text-2 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/tabletHeader2.png);
        background-repeat: none;
        background-size: cover;
        background-position: top;
        width: 100%;
    }

    .overlay-text-3 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/tabletHeader3.png);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .overlay-text-1 h1 {
        margin: 0 auto 0 0.5em;
        grid-area: 1/1/2/3;
        font-size: 4em;
    }

    #watch-yt-2 {
        grid-area: 2/1/3/2;
        margin: 0 auto 0 0;
        min-width: 12.5em;
    }

    #learn-more-btn {
        grid-area: 2/2/3/3;
        margin: 0 auto 0 0;
        min-width: 8.5em;
    }

    #watch-yt-2,
    #learn-more-btn {
        min-height: 3em;
        margin: auto;
    }

    .header-buttons {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        grid-column-gap: 1.5em;
        margin: 0 auto 0 2em;
    }

    /* Navigation Bar*/
    nav img {
        height: 3em;
    }

    nav .menu {
        top: 3em;
        font-size: 1.5em;
    }



    /* About section */
    #about-contents h2,
    #all-rounds h2,
    #more-music h2 {
        text-align: left;
        margin-left: 0;
    }

    #about-contents {
        margin: 2.5em 8em;
    }

    #all-rounds {
        padding: 2em 2.5em;
    }

    #all-rounds h2 {
        margin-left: 1.2em;
    }



    /* Episodes section */
    #rounds-cont {
        padding: 0.5em 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 2.5em;
    }

    .rounds-info {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 0.5em;
        margin: 0.5em 1em 1em 1em;
    }

    .singers {
        display: block;
        grid-area: 4/1/5/2;
        margin: 0;
        text-align: left;
    }

    .play-symbol {
        grid-area: 2/2/5/3;
        margin: auto 0 0 0;
    }



    /* More Music section */
    #more-music h2 {
        margin: 0 0 0 2em;
    }

    .gallery {
        width: 80%;
        flex-direction: row;
        gap: 1em;
        overflow-x: scroll;
    }

    .gallery .gallery-slide {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        padding: 0px;
        flex: none;
    }

    .gallery .gallery-slide button {
        width: 100%;
    }

    .gallery::-webkit-scrollbar {
        display: none;
    }

    #next-btn,
    #back-btn {
        display: block;
        cursor: pointer;
        margin: auto 1em;
    }

    #next-btn img,
    #back-btn img {
        width: 3em;
    }

    .gallery-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em auto;
    }

    .more-songs {
        width: 18.5em;
        height: auto;
    }

    .more-music-cover img {
        height: 100%;
    }

    .more-music-cover {
        width: 20em;
        height: 15em;
    }

    .play-symbol-2 {
        margin: auto 0 0 0;
    }



    /* Creators page */
    .profiles {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        max-width: 100%;
        min-width: none;
        grid-row-gap: 5.5em;
        grid-column-gap: 0;
    }

    .main-profile {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 1.5em;
        grid-row-gap: 0;
        grid-column: 1;
        padding: 0 1.5em 2.5em 1.5em;
        margin: 2em 0;
    }

    .main-profile h3 {
        grid-area: 1/2/2/3;
        font-size: 1.5em;
    }

    .main-profile p {
        grid-area: 2/2/3/3;
        font-family: var(--main-font-light, sans-serif);
        font-size: 0.7em;
        line-height: 2.5em;
    }

    .main-profile img {
        grid-area: 1/1/3/2;
        width: 8.5em;
    }

    .contacts {
        grid-gap: 2em;
        padding: 1em;
    }

    .contact-info {
        align-items: start;
    }

    .contacts h4 {
        font-size: 1.5em;
        margin: 1.5em 0 0 0;
    }

    .contact-texts {
        font-size: 0.5em;
        margin: 0;
    }

    .contact-texts p {
        margin: 0 0 2.5em 0;
        font-family: var(--main-font-light, sans-serif);
    }

    .contact-symbols {
        gap: 1em;
    }

    .contact-symbols img {
        width: 1em;
    }

    .profiles .main-profile {
        margin: 0 0.5em 0 2em;
    }

    .profiles .contacts {
        margin: 0 2em 0 0.5em;
    }

    .profiles .main-profile,
    .profiles .contacts {
        border-radius: 1.5em;
        min-height: 15em;
    }



    /* Cast page */
    #va-contents h2 {
        margin: 0 2.5em;
    }

    .voice-actors {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2em;
        grid-column-gap: 1em;
        padding: 3em 1.5em;
    }

    .va-char {
        margin: 0;
        grid-row-gap: 0.5em;
    }

    .va-char h3 {
        font-size: 1.5em;
    }

    .va-char p {
        font-size: 1em;
    }

    .va-char img {
        width: 4em;
    }



    /* Footer */
    footer {
        margin-top: 8.5em;
    }

    footer #footer-logo {
        width: 8em;
    }

    footer .footer-buttons img {
        height: 2em;
    }

    .copyright-text {
        font-size: 1em;
        margin: auto 16em;
    }
}



/* Laptops */
@media screen and (min-width: 1200px) {


    /* Header */
    .overlay-text-1 h1,
    .overlay-text-2 h1,
    .overlay-text-3 h1 {
        font-size: 6em;
        margin: 0;
    }

    .overlay-text-1 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/desktopHeader1.png);
        background-repeat: none;
        background-size: cover;
        background-position: top;
        width: 100%;
        padding: 28em 0 5em 0;
        text-align: left;
        gap: 1em;
    }

    .overlay-text-1 h1,
    .overlay-text-1 .header-buttons {
        margin-left: 3rem;
    }

    .overlay-text-2 h1,
    .overlay-text-3 h1 {
        padding: 1em 0;
    }

    .overlay-text-2 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/desktopHeader2.png);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .overlay-text-3 {
        background: linear-gradient(rgba(32, 0, 65, 0.20), var(--main-background-color)), url(assets/images/display/desktopHeader3.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: top;
        width: 100%;
    }

    .header-buttons {
        margin: 0;
    }

    

    #watch-yt-2 {
        grid-area: 2/1/3/2;
        min-width: 18em;
    }

    

    #learn-more-btn {
        grid-area: 2/2/3/3;
        margin: 0 auto 0 0;
        min-width: 12em;
    }


    /* Navigation Bar */
    footer ul li,
    nav #watch-yt-1 {
        display: block;
        flex-direction: row;
        position: static;
        width: unset;
        right: unset;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    nav {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: space-between;
    }

    nav .menu {
        display: flex;
        position: static;
        background-color: rgba(0, 0, 0, 0);
        top: unset;
        width: auto;
        padding: 0;
    }

    nav .menu li {
        padding: 1em;
        font-family: var(--main-font-light, sans-serif);
        font-size: 0.812em;
    }

    .main-menu {
        display: block;
        margin: 0;
    }

    nav .header-logo {
        height: 2.5em;
        display: flex;
    }

    .menu-btn,
    .close-btn {
        display: none;
    }

    #watch-yt-1 {
        min-width: 12em;
        min-height: 3em;
    }

    #watch-yt-1:hover {
        background-color: rgb(255, 255, 255);
    }



    /* About section */
    #about-contents {
        padding: 3em;
    }

    #about-contents p {
        font-size: 1em;
        font-family: var(--main-font);
    }


    /* Episodes section */
    #all-rounds h2,
    #more-music h2 {
        text-align: center;
    }

    #rounds-cont {
        grid-template-columns: repeat(3, 1fr);
        padding: 1em 4em;
        grid-column-gap: 1em;
        grid-row-gap: 2.5em;
    }



    /* More Music section */
    #more-music h2 {
        font-size: 3em;
    }

    .gallery {
        width: 80%;
        height: auto;
    }

    .more-songs {
        width: 17.5em;
        height: 20em;
    }

    .more-music-cover {
        width: 17.5em;
        height: 10.6em;
    }

    .more-music-info {
        grid-column-gap: 0;
    }

    .more-music-info h3 {
        grid-area: 2/1/3/3;
    }

    #next-btn img,
    #back-btn img {
        width: 4em;
    }


    
    /* Creators page */
    .main-profile {
        padding: 1em 2.5em 2.5em 2.5em;
        grid-column-gap: 5rem;
    }

    .main-profile h3 {
        font-size: 2em;
    }

    .main-profile p {
        font-size: 1em;
        font-family: var(--main-font, sans-serif);
    }

    .main-profile img {
        width: 10.5em;
    }

    .profiles .main-profile {
        margin: 0 0.5em 0 0;
        border-radius: 2.5em;
    }

    .profiles .contacts {
        margin: 0 0 0 0.5em;
        border-radius: 2.5em;
    }

    .profiles {
        max-width: 85em;
        padding: 0 2em;
    }

    .contacts {
        grid-gap: 2em;
        padding: 2em;
    }

    .contacts h4 {
        font-size: 2em;
        margin: 0.5em 0 0 0;
    }

    .contact-texts {
        font-size: 0.812em;
    }

    .contact-texts p {
        margin: 0 0 2em 0;
        font-family: var(--main-font, sans-serif);
    }

    .contact-symbols {
        gap: 1.1em;
    }

    .contact-symbols img {
        width: 1.5em;
    }




    /* Cast */
    .voice-actors {
        padding: 2.5em 6em;
        grid-column-gap: 2em;
    }

    #va-contents h2 {
        margin: 1em 2.5em;
    }

    .va-char {
        padding: 1em 5em;
    }

    .va-char h3 {
        font-size: 2em;
    }

    .va-char p {
        font-size: 1em;
    }

    .va-char img {
        width: 6em;
        border-radius: 6em;
    }



    /* Footer */
    .footer-contacts {
        display: none;
    }

    .footer-links {
        padding: 2em;
    }

    footer #footer-logo {
        width: 10em;
        padding: 1.5em 1em 1em 1em;
    }
}
